# Ignore everything by default, but the .gitignore file at the root level
*
!/.gitignore

# Allow directories so Git can descend
!*/

# Keep all .java files
!**/*.java

# Keep documentation files
!**/*.md
